.test{
    width: 100%;
    height: 50px;
    margin-top:70px;
    
}
.test2{
    width: 100%;
    
}
.test3{
    width: 100%;
  
}
.login{
     width : 100%;
   
}
.join{
    width : 100%;
    /* margin-top: 110px; */
   
  
}