.test7{
    background-color:   darkcyan;
     
}
.test8{
    color: whitesmoke;
}

.test9{

     height: 100px;
    background-image: url("../images/bbbbb.PNG");

}
.logo{
    margin-top: 20px;
    margin-left: 10px;
}
.Batton{
   margin-left: 120px;
}

.text-center.border.border-light label{
    width:150px;
    /* align-content:right; */
}

.text-center.border.border-light input{
}

.btn.btn-default{
    margin-left: 65%;
}

.write.border label{
  width: 10%;
  margin-left:10px;
     
}

.write.border input{
  width: 95%;
  margin-left: 10px;
     
}

.write.border textarea{
    width: 95%;
    margin-left: 10px;
    height: 300px;
}
  .btn.btn-light{
      margin-left:85%;
  }

  .fas.fa-camera.fa-lg{
      margin-left: 10px;
  }