.test7{
    background-color:   darkcyan;
     
}
.test8{
    color: whitesmoke;
}

.test9{

     height: 100px;
    background-image: url("../images/bbbbb.PNG");

}
.logo{
    margin-top: 20px;
    margin-left: 10px;
}
.Batton{
   margin-left: 120px;
}

.text-center.border.border-light label{
    width:150px;
    /* align-content:right; */
}

.text-center.border.border-light input{
}

.btn.btn-default{
    margin-left: 65%;
}